* {
  margin: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
}
.todo-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 700px;
  padding: 30px 0;
  background: white;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.todo-container > *:not(#todo-list) {
  text-align: center;
}
.todo-title {
  margin-bottom: 20px;
}
#todo-form {
  margin-bottom: 30px;
}
#todo-form > p {
  margin-bottom: 20px;
}
#todo-form > .todo__input {
  padding: 6px 0;
  margin-right: 20px;
}
#todo-form > button {
  border: none;
  color: #fff;
  background: #007f00;
  padding: 10px 20px;
}
#todo-list {
  margin-left: 200px;
}
#todo-list > li + li {
  margin-top: 10px;
}
#todo-list > li span {
  margin-right: 20px;
}
.complete {
  text-decoration: line-through;
}
